<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950229377498-q45on7q4j6lpkl2c1a3n85vrfad8dobo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950229377498-q45on7q4j6lpkl2c1a3n85vrfad8dobo</string>
	<key>API_KEY</key>
	<string>AIzaSyCb-RX2_5JhIgFJ_D4NGJY240nz-xHO4Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>950229377498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecogram</string>
	<key>PROJECT_ID</key>
	<string>ecogram-bfd3e</string>
	<key>STORAGE_BUCKET</key>
	<string>ecogram-bfd3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950229377498:ios:3d8f4bbad154d7d6d8a0e3</string>
	<key>DATABASE_URL</key>
	<string>https://ecogram-bfd3e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>